@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
    border: 0;
    /* outline: solid red; */
}

body{
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%) no-repeat;
    width: 100vw;
    height: auto;    
}

/* MOBILE */

            /* HEADER */

header{
    display: flex;    
    height: 48px;
    align-items: center;
    justify-content: space-between;
    margin-left: 4.26%;
    margin-right: 4.26%;
    margin-top: 16px;           
}


.header-text{
    font-weight: 800;
    font-size: 28px;    
    color: #13183F;
}

.header-btn{
    width: 140px;
    height: 48px;
    background: #13183F;
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;    
    color: #FFFFFF;
}

.header-btn:hover{
    background: #666CA3;
    cursor: pointer;
}


        /* SECTION ONE */

.section-one{   
    display: flex;
    flex-direction: column;
    margin-left: 4.26%;
    margin-right: 4.26%;
    margin-top: 38px;              
}

.info-heading{
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
    /* outline: solid red; */
}

.info-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-top: 26px;
    /* outline: solid red; */
}

.info-btn{
    width: 167px;
    height: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    margin-top: 24px;

    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.info-btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: pointer;
}

.section-one-img{
    /* width: 277px; */
    width: 90.68%;
    height: 277px;
    margin-left: 4.26%;
    margin-right: 4.26%;
    margin-top: 46px;
    /* outline: solid red; */
} 


            /* SECTION TWO */

.section-two{
    display: flex;
    flex-direction: column;
    margin-left: 4.26%;
    margin-right: 4.26%;
    margin-top: 42px;
    /* outline: solid red; */
}

.card-items{
    display:flex;
    flex-direction: column;    
    height: 259px;
    padding-left: 8.16%;
    padding-right: 8.16%;
    margin-top: 40px;      

    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    /* outline: solid red; */
}

.item-1{    
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;        
    height: 120px;
    padding-left: 28px;
    padding-top: 24px;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
